<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Judul Halaman -->
    <title>Project Akhir ASIMO 4</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" 
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" 
    crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
</head>
<body>

    <!-- Menu -->
    <nav class="navbar navbar-expand-lg navbar-light bg-none">
        <div class="container">
            <a class="navbar-brand" href="#">
           <img src={{ url_for('static', filename='/images/logo.svg') }} alt=" " 
				width="70" height="70" align="left">  
            </a>
            <div class="hamburger" data-toggle="collapse" data-target="#openNavbar" aria-controls="openNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>

            <div class="collapse navbar-collapse" id="openNavbar">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="#home">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#jurusan">Jurusan</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#universitas">Universitas</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="rekomendasi.html">Rekomendasi</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#profile">Profile Team</a>
                </li>
              </ul>
            </div>
        </div>
      </nav>
      <!-- End Menu -->

<!-- Section Content -->
<section class="content nilai">
    <div class="content_item">
        <div class="container">
            <div class="content_title">
                <br>
                <br>
                <h1><center>Rekomendasi Jurusan</center></h1>
                <br>
                <p>Silahkan isi data di bawah ini sesuai dengan diri kamu</p>
            </div>
            <div class="form_nilai">
                <form action="">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="nilai_matematika">Nilai Matematika Terakhir : </label>
                                <input type="number" class="form-control" id="nilai_matematika"
                                onInput="$('#nilai_matematika').html($(this).val())">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="jurusan_sekolah">Jurusan Saat Sekolah : </label>
                                <br>
                                <!-- <p><input type="radio" id="ipa" onInput="$('#rangeVal_ipa').html($(this).val())"> IPA</p> 
                                <p><input type="radio" id="ips" onInput="$('#rangeVal_ips').html($(this).val())"> IPS</p> 
                                <p><input type="radio" id="tkj" onInput="$('#rangeVal_tkj').html($(this).val())"> TKJ</p> 
                                <p><input type="radio" id="rpl" onInput="$('#rangeVal_rpl').html($(this).val())"> RPL</p> 
                                <p><input type="radio" id="multimedia" onInput="$('#rangeVal_multimedia').html($(this).val())"> MULTIMEDIA</p> -->
                                <select class="form-control" name="jurusan" id="jurusan">
                                    <option value="Pilih Jurusan">Pilih Jurusan</option>
                                    <option value="1"  onInput="$('#jurusan').html($(this).val())">Mobile Developer</option>
                                    <option value="2"  onInput="$('#jurusan').html($(this).val())">Data</option>
                                    <option value="3"  onInput="$('#jurusan').html($(this).val())">Artificial Intelligence</option>
                                    <option value="4"  onInput="$('#jurusan').html($(this).val())">Design Graphics</option>
                                    <option value="5"  onInput="$('#jurusan').html($(this).val())">Cyber Security (Hack</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="minat_1"> Minat 1 :</label>
                                <br>
                                <select class="form-control" name="minat_1" id="minat_1">
                                    <option nama="minat" value="Pilih Minat 1">Pilih Minat 1</option>
                                    <option nama="minat" value="1" id="mobile_developer" onInput="$('#rangeVal_mobile_developer').html($(this).val())">Mobile Developer</option>
                                    <option nama="minat" value="2"  id="data" onInput="$('#rangeVal_data').html($(this).val())">Data</option>
                                    <option nama="minat" value="3"  id="artificial_intelligence" onInput="$('#rangeVal_artificial_intelligence').html($(this).val())">Artificial Intelligence</option>
                                    <option nama="minat" value="4"  id="design_graphics" onInput="$('#rangeVal_design_graphics').html($(this).val())">Design Graphics</option>
                                    <option nama="minat" value="5"  id="cyber_security_hacking)" onInput="$('#rangeVal_cyber_security').html($(this).val())">Cyber Security (Hacking)</option>
                                    <option nama="minat" value="6"  id="networking" onInput="$('#rangeVal_networking').html($(this).val())">Networking</option>
                                    <option nama="minat" value="7"  id="operating_system" onInput="$('#rangeVal_operating_system').html($(this).val())">Operating System</option>
                                    <option nama="minat" value="8"  id="database" onInput="$('#rangeVal_database').html($(this).val())">Database</option>
                                    <option nama="minat" value="9"  id="web_development" onInput="$('#rangeVal_web_development').html($(this).val())">Web Development</option>
                                    <option nama="minat" value="10"  id="smart_devices" onInput="$('#rangeVal_smart_devices').html($(this).val())">Smart Devices</option>
                                    <option nama="minat" value="11"  id="cyber_security" onInput="$('#rangeVal_cyber_security').html($(this).val())">Cyber Security</option>
                                    <option nama="minat" value="12"  id="creating_game" onInput="$('#rangeVal_creating_game').html($(this).val())">Creating Game</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="minat_2"> Minat 2 :</label>
                                <br>
                                <select class="form-control">
                                    <select class="form-control" name="minat_2" id="minat_1">
                                        <option nama="minat" value="Pilih Minat 1">Pilih Minat 1</option>
                                        <option nama="minat" value="1" id="mobile_developer" onInput="$('#rangeVal_mobile_developer').html($(this).val())">Mobile Developer</option>
                                        <option nama="minat" value="2"  id="data" onInput="$('#rangeVal_data').html($(this).val())">Data</option>
                                        <option nama="minat" value="3"  id="artificial_intelligence" onInput="$('#rangeVal_artificial_intelligence').html($(this).val())">Artificial Intelligence</option>
                                        <option nama="minat" value="4"  id="design_graphics" onInput="$('#rangeVal_design_graphics').html($(this).val())">Design Graphics</option>
                                        <option nama="minat" value="5"  id="cyber_security_hacking)" onInput="$('#rangeVal_cyber_security').html($(this).val())">Cyber Security (Hacking)</option>
                                        <option nama="minat" value="6"  id="networking" onInput="$('#rangeVal_networking').html($(this).val())">Networking</option>
                                        <option nama="minat" value="7"  id="operating_system" onInput="$('#rangeVal_operating_system').html($(this).val())">Operating System</option>
                                        <option nama="minat" value="8"  id="database" onInput="$('#rangeVal_database').html($(this).val())">Database</option>
                                        <option nama="minat" value="9"  id="web_development" onInput="$('#rangeVal_web_development').html($(this).val())">Web Development</option>
                                        <option nama="minat" value="10"  id="smart_devices" onInput="$('#rangeVal_smart_devices').html($(this).val())">Smart Devices</option>
                                        <option nama="minat" value="11"  id="cyber_security" onInput="$('#rangeVal_cyber_security').html($(this).val())">Cyber Security</option>
                                        <option nama="minat" value="12"  id="creating_game" onInput="$('#rangeVal_creating_game').html($(this).val())">Creating Game</option>
                                    </select>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="prospek_karir1">Prospek Karir 1 yang diinginkan :</label>
                                <br>
                                <select class="form-control" name="prospek_karir1" id="prospek_karir1">
                                    <option nama="prospek" value="Pilih Prospek Karir 1">Pilih Prospek Karir 1</option>
                                    <option nama="prospek" value="1" id="mobile_apps_developer" onInput="$('#rangeVal_mobile_apps_developer').html($(this).val())">Mobile Apps Developer</option>
                                    <option nama="prospek" value="2" id="ui_ux" onInput="$('#rangeVal_ui_ux').html($(this).val())">UI / UX</option>
                                    <option nama="prospek" value="3" id="data_engineer" onInput="$('#rangeVal_data_engineer').html($(this).val())">Artificial Intelligence</option>
                                    <option nama="prospek" value="4" id="ml_engineer" onInput="$('#rangeVal_ai_ml_engineer').html($(this).val())">ML Engineer</option>
                                    <option nama="prospek" value="5" id="devops_engineer" onInput="$('#rangeVal_devops_engineer').html($(this).val())">DevOps Engineer</option>
                                    <option nama="prospek" value="6" id="attacker" onInput="$('#rangeVal_attacker').html($(this).val())">Attacker / Defense Cyber Security</option>
                                    <option nama="prospek" value="7" id="system_network_administrator" onInput="$('#rangeVal_system_network_administrator').html($(this).val())">System Administrator / Network Administrator/option>
                                    <option nama="prospek" value="8" id="database_administrator" onInput="$('#rangeVal_database_administrator').html($(this).val())">Database Administrator</option>
                                    <option nama="prospek" value="9" id="software_engineer" onInput="$('#rangeVal_software_engineer').html($(this).val())">Software Engineer</option>
                                    <option nama="prospek" value="10" id="iot_engineer" onInput="$('#rangeVal_iot_engineer').html($(this).val())">IoT Engineer</option>
                                    <option nama="prospek" value="11" id="auditor_TI" onInput="$('#rangeVal_auditor_TI').html($(this).val())">Auditor TI</option>
                                    <option nama="prospek" value="12" id="web_developer" onInput="$('#rangeVal_web_developer').html($(this).val())">Web Developer</option>
                                    <option nama="prospek" value="13" id="game_developer" onInput="$('#rangeVal_game_developer').html($(this).val())">Game Developer</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="">Prospek Karir 2 yang diinginkan :</label>
                                <br>
                                <select class="form-control" name="prospek_karir2" id="prospek_karir2">
                                    <option nama="prospek" value="Pilih Prospek Karir 1">Pilih Prospek Karir 1</option>
                                    <option nama="prospek" value="1" id="mobile_apps_developer" onInput="$('#rangeVal_mobile_apps_developer').html($(this).val())">Mobile Apps Developer</option>
                                    <option nama="prospek" value="2" id="ui_ux" onInput="$('#rangeVal_ui_ux').html($(this).val())">UI / UX</option>
                                    <option nama="prospek" value="3" id="data_engineer" onInput="$('#rangeVal_data_engineer').html($(this).val())">Artificial Intelligence</option>
                                    <option nama="prospek" value="4" id="ml_engineer" onInput="$('#rangeVal_ai_ml_engineer').html($(this).val())">ML Engineer</option>
                                    <option nama="prospek" value="5" id="devops_engineer" onInput="$('#rangeVal_devops_engineer').html($(this).val())">DevOps Engineer</option>
                                    <option nama="prospek" value="6" id="attacker" onInput="$('#rangeVal_attacker').html($(this).val())">Attacker / Defense Cyber Security</option>
                                    <option nama="prospek" value="7" id="system_network_administrator" onInput="$('#rangeVal_system_network_administrator').html($(this).val())">System Administrator / Network Administrator/option>
                                    <option nama="prospek" value="8" id="database_administrator" onInput="$('#rangeVal_database_administrator').html($(this).val())">Database Administrator</option>
                                    <option nama="prospek" value="9" id="software_engineer" onInput="$('#rangeVal_software_engineer').html($(this).val())">Software Engineer</option>
                                    <option nama="prospek" value="10" id="iot_engineer" onInput="$('#rangeVal_iot_engineer').html($(this).val())">IoT Engineer</option>
                                    <option nama="prospek" value="11" id="auditor_TI" onInput="$('#rangeVal_auditor_TI').html($(this).val())">Auditor TI</option>
                                    <option nama="prospek" value="12" id="web_developer" onInput="$('#rangeVal_web_developer').html($(this).val())">Web Developer</option>
                                    <option nama="prospek" value="13" id="game_developer" onInput="$('#rangeVal_game_developer').html($(this).val())">Game Developer</option>
                                </select>
                            </div>
                        </div>
                    
                    <div class="form-group float-right form_button">
                        
                        <a href="index.html" class="btn btn-kembali"><i class="fa fa-arrow-left"></i> Kembali</a>
                        <button type="submit" class="btn btn-submit" id="proses_submit">Proses</button>
                    </div>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <!-- Bagian Halaman Untuk Hasil Rekomendasi -->
        <div id="hasil_rekomendasi" align="center">
             <!-- Hasil rekomendasi akan ditampilkan disini -->
        </div>
    </div>
</section>
<!-- End Section Content -->



<!-- Footer Section -->
   <section class="footer_section">
    <div class="footer_item">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="footer_info">
                        <div class="footer_logo">
                            <h1><img src="assets/images/logo.svg" alt="">
                        </div>
                        <div class="footer_description">
                            <p>Panduan dalam memilih jurusan yang sesuai untuk kamu</p>
                        </div>
                        <div class="footer_socmed">
                            <ul class="socmed">
                                <li class=""><a href=""><i class="fa fa-github"></i></a></li>
                                <li class=""><a href=""><i class="fa fa-whatsapp"></i></a></li>
                                <li class=""><a href=""><i class="fa fa-instagram"></i></a></li>
                                <li class=""><a href=""><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="footer_menu">
                        <div class="peta">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.335936244135!2d106.81182321431021!3d-6.219355762644872!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f1346d5321a7%3A0xe19b81e9e58ae407!2sOrbit%20Future%20Academy!5e0!3m2!1sid!2sid!4v1669057838128!5m2!1sid!2sid" 
                            width="350" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                          </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="footer_menu">
                        <h3>Menu</h3>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Universitas</a></li>
                            <li><a href="#">Jurusan</a></li>
                            <li><a href="#">Rekomendasi</a></li>
                            <li><a href="#">Profile Team</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer_dev">
                <p>Copyright &copy; 2022 - SRJKOm ASIMO4</p>
            </div>
        </div>
    </div>
</section>
<!-- Footer Section End -->

    <script src="assets/custom/js/app.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <!-- JavaScript untuk Animasi Scroll dan Prediksi Model -->
	<script  src={{ url_for('static', filename='/js/client_side.js') }}></script>
</body>
</html>
</body>
</html>